.Join {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9F7F7;
    height: 100vh;
}

.Rooms {
    display: flex;
    align-items: center;
} 

.room-button {
    height: 60px;
}