
.loginPage,
.signupPage {
  margin-top: 11rem;
}

.FestivalsPage {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.AddFestival,
.EditFestivalPage {
  margin-top: 8rem;
}

